.feynman {
  padding-top: 80px;

  min-height: 790px;

  position: relative;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  background: no-repeat left bottom url(./../../images/feynman.png) #f2f2f2;
}
