.kaufman__triangle {
  width: 876px;
  height: 876px;

  position: absolute;
  right: -210px;
  top: 0;

  background-size: cover;
  background-image: url(../../../images/kaufman-triangle.svg);
  
  z-index: -1;
}
